*{
    box-sizing: content-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.container{
    background-color: blanchedalmond;
    padding: 5px 20px 15px 15px;
    border: 1px solid lightgray;
    border-radius: 4px;
}


input[type="text"],
input[type="email"],
select 
textarea{
    margin: 5px;
    padding: 8px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.message_box{
    margin: 1px;
    padding: 8px;
    width: 50%;
    border: none;
    border-radius: 5px;
}

.main_heading{
    text-align: center;
    background-color: lightgreen;
}

input[type="submit"]{
    padding: 10px 12px;
    background-color: lightgreen;
    border-radius: 5px;
    width: 15%;
    border: none;
    color: solid black;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: brown;

}
